<div class="box1div" fxLayout='row' fxLayout.sm='column' fxLayout.xs='column'   fxLayoutAlign='center center' fxFlex=100>
    <mat-card fxFlex=66 fxFlex.sm=95 fxFlex.md=47 fxFlex.xs=95 fxLayout='column' class="box1">
      <div class="p">Welcome Leo Langlois</div>
      <!-- <div style="height:2vh;"></div> -->
      <div class="desc">Were-super-excited-to-have-you-on-board </div>
    </mat-card>


    <mat-card fxFlex=30 fxFlex.sm=95  fxFlex.xs=95 fxFlex.md=47 fxLayout='column' class="box2">
      <div fxLayout='column' fxFlex=95>
        <div class="Upcoming-Appointments">
          Upcoming-Appointments
        </div>
        <div fxLayout="row" fxFlex.xs=100 fxLayoutGap.xs='70px' fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center"  style="margin-top: 5px;">
          <div class="Ellipse-4">
            <span class="material-icons">
              keyboard_arrow_left
            </span>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-around center">
            <img class="lastcard"
              src="../../../assets//FS HTML_CSS LP02 Employee Payroll App Assets/assets/profile-images/Ellipse -3.png"
              alt="">

            <div >
              <div class="Dr-Shaun-Marsh-copy">Dr Shaun Marsh</div>
              <!-- <mat-icon>alarm</mat-icon> -->
              <div fxLayout='row' fxLayout.xs='row' fxLayoutGap='2px'>
                <img class="sss" src="../../../assets/assets_4.1patient_dashboard_day2_2021-05-26 (1)/clock.png" alt="">
                <div class="pm">12:00pm</div>
                <div class="Sep-16-2020">Sep-16-2020</div>
              </div>

            </div>

          </div>
          <div class="Ellipse-5 ">
            <img class="imgwid " src="../../../assets/abcd.svg" alt="">

          </div>
        </div>
        <div  class="ab"  fxLayout='row' fxLayoutAlign='center center'>
          <button mat-raised-button style="background-color: #1fa4dd;;" class="bbtton s">View Details</button>


        </div>
      </div>



    </mat-card>
  </div>