


<div style="height: 80vh;">
  <mat-toolbar>
    <mat-toolbar-row class="tool">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>HomeHosp</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
               <a href="#" class="Home" mat-button>Home</a>
        <a href="#" class="My-Appointments" mat-button>My Appointments</a>
        <a href="#" class="Delegated-Access" mat-button>Delegated Access</a>
        <a class="Ads" mat-button>Ads</a>

        <a href="#" mat-button>Book Appointment</a>

        <a href="#" style="width: 50px;" mat-button>
      
        <mat-icon class="Layer-141" matBadge="3" matBadgeColor="warn">notifications</mat-icon></a>
        <a href="#" style="width: 50px;" mat-button>
     
        <img id="imgProfile " class="face-7" src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"></a>

      </div>
     
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
    
        <a href="#" class="Home" mat-list-item>Home</a>
        <a href="#" class="My-Appointments" mat-list-item>My Appointments</a>
        <a href="#" class="Delegated-Access"mat-list-item>Delegated Access</a>
        <a class="Ads" mat-list-item>Ads</a>

        <a href="#" mat-list-item>Book Appointment</a>


      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill fxFlex=100>

      <app-reminder></app-reminder>
<app-appointment></app-appointment>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<!-- 
<div fxLayout='column' >
  <div class="box1div">
    

  </div>

</div> -->