
// .slider{
//     // width: 90%;
//     // width: 323px;
// }


.ab{
    // width: 108px;
    height: 38px;
    // margin: 12px 131px 0 28px;
    // padding: 14px 16px 13px 15px;
    // border-radius: 5px;
    // box-shadow: 0px 1px 4px 0 rgba(88, 92, 101, 0.82);
    // background-color: #1fa4dd;
  
  }
  .example-margin{
    flex: 1 1 10px;
    box-sizing: border-box;
    max-height: 10px;
    min-height: 10px;
  }

  .example-section{
    //   display: block;

      flex-direction: row;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
  
  }
  .imgwid{
    width: 32px;
    height: 34px;
  }
  .sss{
   
      width: 18px;
      height: 17px;
      margin: 8px 15px 15px;
      object-fit: contain;
      // background-color: #999999;
  
  }
  
  .Ellipse-4 {
    
   
      width: 30px;
      height: 30px;
      // margin: 35px 31px 12px 0;
      padding: 10px 12px 10px 11px;
      border: solid 1px #e5e5e5;
      background-color: #ffffff;
      border-radius: 50%;
  
  
  }
  .Sep-16-2020 {
    // width: 75px;
    height: 12px;
    margin: 10px 10px 18px 15px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #98a0ab;
  }
  .Upcoming-Appointments {
    // width: 178px;
    height: 16px;
    // margin: 0 39px 22px 1px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }
  .pm {
    width: 54px;
    height: 14px;
    margin: 9px 15px 17px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #304156;
  }
  
  .Dr-Shaun-Marsh-copy {
    // width: 104px;
    height: 11px;
    margin: 26px 1px 8px 15px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }
  .lastcard {
    // width: 40px;
    height: 40px;
    margin: 22px 15px 15px 31px;
    padding: 0 1px 0 0;
    border-radius: 50%;
    background-color: #2eb2ff;
  }
  
  .Ellipse-5 {
    width: 30px;
    height: 30px;
    // margin: 35px 0 12px 3%;
    padding: 10px 12px;
    background-color: #1fa4dd;
    border-radius: 50%;
  }
  .Wll {
    width: 364px;
    height: 19px;
    margin: 24px 0 0;
    font-family: Roboto;
    font-size: 20px;
    // font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #304156;
  
  }
  .p {
    width: 364px;
    height: 19px;
    margin: 24px 0 0;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: bold;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #304156;
  }
  .loc {
    // width: 108px;
    height: 12px;
    margin: 19px 27px 23px 7px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #304156;
  }
  .Preferred-Doctor {
    // width: 95px;
    height: 10px;
    margin: 26px 18px 3px 2px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #304156;
  }
  .Online {
    // width: 40px;
    height: 11px;
    margin: 26px 0 2px 7px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #304156;
  }
  .Morristown-Medical-Center {
    // width: 156px;
    height: 10px;
    margin: 21px 31px 23px 9px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #304156;
  }
  
  .iconss {
    margin: 15px 12px 23px 25px;
  
    // width: 12px;
    height: 18px;
  }
  .divider{
    border-top: 1px solid #bbb;
  
    width: fit-content;
  }
  
  .degree {
    width: 184px;
    height: 11px;
    margin: 7px 6px 16px 0;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2eb2ff;
  }
  .drname{
  
    height: 16px;
    margin: 8px 40px 7px 1px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #304156;
  }
  .drtxt {
    font-size: 14px;
    font-weight: normal;
    color: #98a0ab;
  }
  
  .Layer-94 {
    width: 48px;
    height: 48px;
    margin: 0 17px 10px 26px;
    border-radius: 50%;
  
  }
  .Records-Found {
    width: 104px;
    height: 11px;
    margin: 30px 10px 15px 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1fa4dd;
  }
  .dvdr{
    
      width: 404px;
      height: 1px;
      margin: 8px 0 10px;
      background-color: #e6eaee;
    
  }
  
  .bt{
  
      width: 109px;
      height: 38px;
      margin: 1px 75px 0 2px;
      padding: 14px 16px 13px;
    text-align: center;
  
      border-radius: 5px;
      box-shadow: 0px 1px 4px 0 rgba(88, 92, 101, 0.82);
      background-color: #1fa4dd;
  
  
    
  }
  .s {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #1fa4dd;;
    
    opacity: 1;
  }
  
  .btn{
    padding: 14px 16px 13px 15px;

  }
  .bbtton {
    float: right;
    // height: 11px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    width: 110px;
    height: 38px;
    background-color: #1fa4dd;
    box-shadow: 0px 1px 4px 0 rgba(88, 92, 101, 0.82);
    background: #1fa4dd;
    color:  #ffffff;
    border-radius: 5px;
  
    padding: 0px, 10px;
    z-index: 1;




    // margin: 12px 131px 0 28px;


  }
  .wd{
    // width: 83px;
    height: 9px;
    margin: 0 63px 10px 2px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
  }
  .lb{
      // width: 113px;
      // height: 14px;
      // margin: 14px 61px 5px 29px;
      // font-family: Roboto;
      // font-size: 14px;
      // font-weight: normal;
      // font-stretch: normal;
      // font-style: normal;
      // line-height: normal;
      // letter-spacing: normal;
      // text-align: left;
      // color: #304156;
  
  
      width: 134px;
      height: 14px;
      margin: 15px 90px 5px 30px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #304156;
    
  }

  .labelSelect{
    width: 250px;
    
    margin: 4px 16px 13px 4px;
    // background-color: #8f98a4;
  
      width: 223px;
      height: 46px;
  }
  .selectcard{
    width: 250px;
    
    margin: 4px 16px 13px 4px;
    // background-color: #8f98a4;
  
      width: 323px;
      height: 66px;
      // margin: 10px 151px 2px 16px;
  
  }
   .cards{
   
      width: 406px;
      // min-height: 150px;
      margin: 15px 21px 5px 1px;
      padding: 26px 2px 23px 0;
      border-radius: 4px;
      box-shadow: 0 0 10px 0 rgba(27, 28, 31, 0.07);
      border: solid 1px #e6eaee;
      background-color: #ffffff;
  
   }
  
  
  .Welcome-Leo-Langlois .text-style-1 {
    font-weight: normal;
  }
  .card3{
   
      // width: 1308px;
      // height: 799px;
      margin: 2px 29px 0;
      padding: 30px 25px 23px 20px;
      border-radius: 5px;
      box-shadow: 0px 2px 13px 0 rgba(88, 92, 101, 0.3);
      background-color: #ffffff;
  
  }
  
  .box3{
  
  margin-top: 10px;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
    flex: 1 1 100%;
    max-height: 100%;
    width: 100%;
  
  }
  .box2 {
      //  width: 470px;
      height: 170px;
      margin: 32px 29px 25px 23px;
      padding: 19px 20px 20px 19px;
      border-radius: 5px;
      box-shadow: 0px 2px 13px 0 rgba(88, 92, 101, 0.3);
      background-color: #ffffff;
  
  }
  .box1{
    // width: 815px;
    height: 170px;
    margin: 32px 23px 25px 29px;
    // padding: 29px 427px 74px 24px;
    border-radius: 5px;
    box-shadow: 0px 2px 13px 0 rgba(88, 92, 101, 0.3);
    background-color: #ffffff;
  }
  .patient_dashboard_day2 {
    width: 1366px;
    height: 1115px;
    padding: 0 0 25px;
    background-color: #f9f9f9;
  }
  .example-icon {
      padding: 0 14px;
    }
    
    .example-spacer {
      flex: 1 1 auto;
    }
    .bg{
        background-color: #FFFFFF;
    }
    #imgProfile{
      width: 37px;
      height: 37px;
      border-radius: 50%;
  
  }
  .Layer-138 {
    width: 140px;
    height: 42px;
    // margin: 0 40% 0 0;
  }
  .Layer-141 {
    width: 16px;
    height: 20px;
    margin: 10px 31px 11px 36px;
  }
  .face-7 {
    width: 32px;
    height: 32px;
    margin: 10px 0 5px 19px;
    border-radius: 50%;
  }
    .Rectangle-1-copy-2 {
      // width: 1366px;
      height: 64px;
      margin: 0 0 32px;
      padding: 11px 30px;
      box-shadow: 0px 2px 6px 0 rgba(88, 92, 101, 0.3);
      background-color: #ffffff;
    }
    .My-Appointments {
     margin: 10px;
      // margin: 14px 28px 14px 34px;
      font-family: Archivo;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 6.04;
      letter-spacing: normal;
      text-align: center;
      color: #3b4b5f;
    }
    .Home {
      // width: 37px;
      // height: 10px;
      // margin: 15px 34px 17px 0px;
      margin: 10px;
      font-family: Archivo;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 6.04;
      letter-spacing: normal;
      text-align: center;
      color: #1fa4dd;
    }
    .Ads {
      // width: 24px;
      // height: 11px;
      // margin: 14px 35px 17px 34px;
      margin: 10px;
      font-family: Archivo;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 6.04;
      letter-spacing: normal;
      text-align: center;
      color: #3b4b5f;
    }
    .Delegated-Access {
      // width: 111px;
      // height: 14px;
      // margin: 14px 34px 14px 28px;
      margin: 10px;
      font-family: Archivo;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 6.04;
      letter-spacing: normal;
      text-align: center;
      color: #3b4b5f;
    }
    .Book-Appointment {
  
      // margin: 14px 36px 14px 35px;
      margin: 10px;
      font-family: Archivo;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 6.04;
      letter-spacing: normal;
      text-align: center;
      color: #3b4b5f;
    }
    
    .example-container {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    
    .example-is-mobile .example-toolbar {
      position: fixed;
      /* Make sure the toolbar will stay on top of the content as it scrolls past. */
      z-index: 2;
    }
    
    h1.example-app-name {
      margin-left: 8px;
    }
    
    .example-sidenav-container {
      /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
         causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
      flex: 1;
    }
    
    .example-is-mobile .example-sidenav-container {
      /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
         `<body>` to be our scrolling element for mobile layouts. */
      flex: 1 0 auto;
    }




  @media  screen and (max-width: 1800px) {
    .cards{
   
        width: 406px;
        // min-height: 150px;
        // margin: 15px 21px 5px 1px;
        margin: 2px;
        padding: 26px 2px 23px 0;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 rgba(27, 28, 31, 0.07);
        border: solid 1px #e6eaee;
        background-color: #ffffff;
    
     }
    
    .selectcard{
        // width: 250px;
        
        
        margin: 4px 16px 13px 4px;
        // background-color: #8f98a4;
      
          width: 323px;
          height: 66px;
          // margin: 10px 151px 2px 16px;
      
      }

      .slider{
        //   width: 460px;
        width: 100%;
      }
  }



  @media  screen and (max-width: 1600px) {
    .cards{
   
        width: 406px;
        // min-height: 150px;
        // margin: 15px 21px 5px 1px;
        margin: 2px;
        padding: 26px 2px 23px 0;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 rgba(27, 28, 31, 0.07);
        border: solid 1px #e6eaee;
        background-color: #ffffff;
    
     }
     .labelSelect{
        width: 250px;
        
        margin: 4px 16px 13px 4px;
        // background-color: #8f98a4;
      
        //   width: 223px;
          height: 46px;
      }
    .selectcard{
        // width: 250px;
        
        
        margin: 4px 16px 13px 4px;
        // background-color: #8f98a4;
      
          width: 466px;
          height: 66px;
          // margin: 10px 151px 2px 16px;
      
      }

      .slider{
        //   width: 460px;
        width: 100%;
      }
  }



  @media only screen and (max-width: 1400) {
    .cards{
   
        width: 406px;
        // min-height: 150px;
        // margin: 15px 21px 5px 1px;
        margin: 2px;
        padding: 26px 2px 23px 0;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 rgba(27, 28, 31, 0.07);
        border: solid 1px #e6eaee;
        background-color: #ffffff;
    
     }
    
    .selectcard{
        // width: 250px;
        
        
        margin: 4px 16px 13px 4px;
        // background-color: #8f98a4;
      
          width: 323px;
          height: 66px;
          // margin: 10px 151px 2px 16px;
      
      }

      .slider{
        //   width: 460px;
        width: 100%;
      }
  }

  @media only screen and (max-width: 1200) {
    .cards{
   
        width: 406px;
        // min-height: 150px;
        // margin: 15px 21px 5px 1px;
        margin: 2px;
        padding: 26px 2px 23px 0;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 rgba(27, 28, 31, 0.07);
        border: solid 1px #e6eaee;
        background-color: #ffffff;
    
     }

     .mat-form-field{ width: 100%; }
     .inssu{
        margin: 4px 16px 13px 4px;
        // background-color: #8f98a4;
        // style="width: 200px;"
          width: 323px;
          height: 66px;
     }
    
    .selectcard{
        // width: 250px;
        
        
        margin: 4px 16px 13px 4px;
        // background-color: #8f98a4;
      
          width: 323px;
          height: 66px;
          // margin: 10px 151px 2px 16px;
      
      }

      .slider{
        //   width: 460px;
        width: 100%;
      }
  }



  @media only screen and (max-width: 1000px) {
    .labelSelect{
        width: 368px;
        
        margin: 4px 16px 13px 4px;
        // background-color: #8f98a4;
      
        //   width: 223px;
          height: 66px;
      }
    .cards{
   
        width: 406px;
        // min-height: 150px;
        // margin: 15px 21px 5px 1px;
        margin: 2px;
        padding: 26px 2px 23px 0;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 rgba(27, 28, 31, 0.07);
        border: solid 1px #e6eaee;
        background-color: #ffffff;
    
     }
    
    .selectcard{
        // width: 250px;
        
        
        margin: 4px 16px 13px 4px;
        // background-color: #8f98a4;
      
          width: 368px;
          height: 66px;
          // margin: 10px 151px 2px 16px;
      
      }

      .slider{
        //   width: 460px;
        width: 100%;
      }
  }
//   @media only screen and (max-width: 967) {
//     .cards{
   
//         width: 406px;
//         // min-height: 150px;
//         // margin: 15px 21px 5px 1px;
//         margin: 2px;
//         padding: 26px 2px 23px 0;
//         border-radius: 4px;
//         box-shadow: 0 0 10px 0 rgba(27, 28, 31, 0.07);
//         border: solid 1px #e6eaee;
//         background-color: #ffffff;
    
//      }
    
//     .selectcard{
//         // width: 250px;
        
        
//         margin: 4px 16px 13px 4px;
//         // background-color: #8f98a4;
      
//           width: 367px;
//           height: 66px;
//           // margin: 10px 151px 2px 16px;
      
//       }

//       .slider{
//         //   width: 460px;
//         width: 100%;
//       }
//   }





  @media  screen and (max-width: 920px) {
    .bbtton {
        float: right;
        width: 142px;
        height: 36px;
        // background-color: #1fa4dd;
        box-shadow: 0px 1px 4px 0 rgba(88, 92, 101, 0.82);
        background: #1fa4dd;
        float: right;
        border-radius: 5px;
        text-align: center;
        padding: 0px, 10px;
        z-index: 1;
      }
    .cards{
   
        width: 100%;
        // min-height: 150px;
        // margin: 15px 21px 5px 1px;
        margin: 2px;
        padding: 26px 2px 23px 0;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 rgba(27, 28, 31, 0.07);
        border: solid 1px #e6eaee;
        background-color: #ffffff;
    
     }
     .labelSelect{
        width: 366px;
        
        margin: 4px 16px 13px 4px;
        // background-color: #8f98a4;
      
        //   width: 223px;
          height: 46px;
      }
    .selectcard{
        // width: 250px;
        
        
        margin: 4px 16px 13px 4px;
        // background-color: #8f98a4;
      
          width: 466px;
          height: 66px;
          // margin: 10px 151px 2px 16px;
      
      }

      .slider{
        //   width: 460px;
        width: 100%;
      }
  }

@media only screen and (max-width: 600px) {

    .card3{
   
        // width: 1308px;
        // height: 799px;
        width: 96%;
        // margin: 2px 5px 0;
        padding: 30px 25px 23px 20px;
        border-radius: 5px;
        box-shadow: 0px 2px 13px 0 rgba(88, 92, 101, 0.3);
        background-color: #ffffff;
    
    }

    .bbtton {
        float: right;
        width: 142px;
        height: 36px;
        // background-color: #1fa4dd;
        box-shadow: 0px 1px 4px 0 rgba(88, 92, 101, 0.82);
        background: #1fa4dd;
        color: white;
        float: right;
        border-radius: 5px;
        text-align: center;
        padding: 0px, 10px;
        z-index: 1;
      }
    .cards{
   
        width: 100%;
        // min-height: 150px;
        // margin: 15px 21px 5px 1px;
        margin: 2px;
        padding: 26px 2px 23px 0;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 rgba(27, 28, 31, 0.07);
        border: solid 1px #e6eaee;
        background-color: #ffffff;
    
     }
    
     .labelSelect{
        width: 100%;
        
        margin: 4px 16px 13px 4px;
        // background-color: #8f98a4;
      
        //   width: 223px;
          height: 66px;
      }
    .selectcard{
        // width: 250px;
        
        
        margin: 4px 16px 13px 4px;
        // background-color: #8f98a4;
      
          width: 100%;
          height: 66px;
          // margin: 10px 151px 2px 16px;
      
      }

      .slider{
        //   width: 460px;
        width: 100%;
      }
}